extends ../layout/opciones_usuario

block opciones_moderador

    h2.tituloPaginas= pagina
    div.datosReservacion
        div 
            p.datoReserva Fecha:  
                span.spanDatoReserva=`${datos.fecha}`
        div
            p.datoReserva Hora: 
                span.spanDatoReserva=`${datos.hora.hora}`
        div 
            p.datoReserva Personas: 
                span.spanDatoReserva= `${datos.personas}`

        div.estadosCambios
            p.datoReserva Código: 
                if datos.estadoId == null || datos.estadoId == 2
                    span.spanDatoReserva= `Sin Código`
                else
                    span.spanDatoReserva= `${datos.codigo}`
        div
            p.datoReserva Tipo: 
                span.spanDatoReserva= `${datos.tipo}`

    if datos.tipo == "Reservacion"

        p.tituloCliente Cliente

        div.datosCliente
            div 
                p.datoReserva Nombre: 
                    span.spanDatoReserva= `${datos.usuario.nombre}`
            div
                p.datoReserva Numero de Teléfono: 
                    span.spanDatoReserva= `${datos.usuario.telefono}`

            div 
                p.datoReserva Reservación realizada el: 
                    span.spanDatoReserva= `${datos.Realizado}`


    if errores
        div.erroresEditarMesa
            each error in errores
                    p.error=error.msg
    div 
        form(method="POST") 
            input(type="hidden", name="_csrf" value= csrfToken)
            div.estadosMesaCambios
                div.opcionesCelu
                    label(for="estado") Estado: 
                    select.inputLogins#estado(name="estado") 
                        option(value="") - Seleccione - 
                        each estado in estados
                            option(value=estado.id selected= datos.estadoId ? datos.estadoId == estado.id ? true : false : null)= estado.estado
                
                div.opcionesCelu
                    label(for="mesa") Mesa: 
                    select.inputLogins#mesa(name="mesa") 
                        option(value="") - Seleccione - 
                        each mesa in mesas
                            option(value=mesa.id selected= datos.mesaId ? datos.mesaId == mesa.id ? true : false : null)= mesa.numero

                div.opcionesCelu
                    label(for="horaFinal") Hora de Finalización: 
                    select.inputLogins#horaFinal(name="horaFinal") 
                        option(value="") - Seleccione - 
                        each horaFinal in horasFinal
                            option(value=horaFinal.id)= horaFinal.horafinal
            div.btnsJuntos
                input.btnOpcion(type="submit", value="Aplicar") 
                a.btnOpcion(href="/mesa/gestionar-mesa") Volver 
        div.centrarTextoCelu 
            form(action="/mesa/ver-mesas" method="GET")
                //- input(type="hidden", name="_csrf" value= csrfToken)
                input(type="hidden" name="fecha" value=`${datos.fecha}`)
                input.btnOpcion(type="submit", value="Ver Mesas" formtarget="_blank") 

    
