extends ../layout/opciones_usuario

block opciones_moderador
    h2.tituloCategoria= pagina
    div.clientePresencial
    div.crearReserva
        a.btnOpcion(href="/mesa/cliente-presencial" class="link") Ingresar Cliente Presencial
    br
    if errores
        div.erroresGestion
            each error in errores
                p.error= error.msg
    div.buscadoresMesa

        div.btnMesa
            form(action="/mesa/ver-mesas" method="GET")
                div.formVerMesa
               
                    label.labelLogins(for="fecha") Fecha:  
                    input#fecha.buscarCodigo(type="date", name="fecha") 
                    input.btnOpcion.btnVermesa(type="submit" value= "Ver Mesas")

        div.btnMesa
            form(action="/mesa/buscador" method="POST" )
                input(type="hidden" name="_csrf" value= csrfToken)
                div.busqueda
                    label.labelLogins(for="termino") Búsqueda:
                    input.buscarCodigo(type="text" id="termino" name="termino" placeholder="Buscar reserva por código")
                    input.btnOpcion.btnBusqueda(type="submit" value="Buscar")

        
        //- div.btnMesa
    form(action="/mesa/gestionar-mesa" method="GET")
        div.filtrosBusqueda
            div.filtro
                label.labelLogins(for="filtro") Filtrar por Estado:  
                select.inputReserva#filtro(name="filtro")
                    option(value="") - Sin Filtro -
                    option(value="7") En espera
                    each estado in estados
                        option(value=estado.id)= estado.estado
            div
                div.filtro 
                    label.labelLogins(for="fecha") Filtrar por Fecha:  
                    input#fecha.inputReserva(type="date", name="fecha") 
            div
                div.filtro 
                    label.labelLogins(for="tipo") Filtrar por Tipo:  
                    select.inputReserva#filtro(name="tipo")
                        option(value="") - Sin Filtro -
                        option(value="Presencial") Presencial
                        option(value="Reservacion") Reservación  
        div.margin0
            input.btnOpcion.centrarTexto(type="submit" value= "Filtrar")



    div.etiquetasMesa
        p Fecha
        p Hora
        p.ocultarCelu Personas
        p.ocultarCelu Tipo
        p Estado 
        p.ocultarCelu Mesa
        p Codigo
        p.ocultarCelu
    div.datosReservas
        if reservas.length
            each reserva in reservas
                div.datosReserva  
                    p= reserva.fecha
                    p= reserva.hora.hora
                    p.ocultarCelu= reserva.personas
                    p.ocultarCelu= reserva.tipo
                    if reserva.estado == null
                        p En Espera
                    else 
                        p= reserva.estado.estado
                    p.ocultarCelu= reserva.mesaId
                    if reserva.estado == null
                        p Sin codigo
                    else 
                        p= reserva.codigo
                    a.btnOpcion(href=`/mesa/editar/${reserva.id}`, target="_blank") Editar