extends ../layout/opciones_usuario

block opciones_moderador
    h2.tituloCategoria= pagina
    div.verMesaFecha
        p.datoReserva Fecha: 
            span.spanDatoReserva=fechas
    div.btnMesa
        form(action="/mesa/ver-mesas" method="POST")
            input(type="hidden" name="_csrf" value= csrfToken)
            div.formVerMesa
                div 
                    label.labelLogins(for="fecha") Fecha:  
                    input#fecha.inputReserva(type="date", name="fecha") 
                input.btnOpcion(type="submit" value= "Ver Mesas")
                a.btnOpcion.separacion(href="/mesa/gestionar-mesa") Volver 
    div.colores

        div.color
            p.letraColor Aceptado:
            div.colorAceptado.divColor 
        div.color 
            p.letraColor No llegada: 
            div.colorNoLlegada.divColor
        div.color 
            p.letraColor En mesa:
            div.colorEnMesa.divColor
        div.color 
            p.letraColor Comida Servida: 
            div.colorComidaServida.divColor
        div.color 
            p.letraColor Salida:
            div.colorSalida.divColor
 
    if reservas.length
        h2.tituloCategoria Mesas
        div.gridVerMesas 
            each mesa in mesas
                div
                    p.mesaP= mesa.numero
                    div.gridHoras
                        each reserva in reservas
                            if reserva.mesaId == mesa.numero
                                if reserva.tipo == "Presencial"
                                    a(href=`/mesa/editar/${reserva.id}` target="_blank" class=`${reserva.estadoId == 1 ? 'colorAceptado' : reserva.estadoId == 3 ? 'colorNoLlegada'
                                    : reserva.estadoId == 4 ? 'colorEnMesa' : reserva.estadoId == 5 ? 'colorComidaServida' : reserva.estadoId == 6 ? 'colorSalida': 'nada' } horaP`) #{reserva.tipo} #{reserva.hora.hora} - 
                                        if reserva.horaFinalId == null
                                            span Activo
                                        else 
                                            span= reserva.horasfinal.horafinal
                                else 
                                    a(href=`/mesa/editar/${reserva.id}` target="_blank" class=`${reserva.estadoId == 1 ? 'colorAceptado' : reserva.estadoId == 3 ? 'colorNoLlegada'
                                    : reserva.estadoId == 4 ? 'colorEnMesa' : reserva.estadoId == 5 ? 'colorComidaServida' : reserva.estadoId == 6 ? 'colorSalida': 'nada' } horaP`) #{reserva.tipo} #{reserva.hora.hora} - 
                                        if reserva.horaFinalId == null
                                            span Activo
                                        else 
                                            span= reserva.horasfinal.horafinal

        div.paginacion
            div 
                p.mostrarCantidad Mostrando 
                    span #{offset + 1}  a 
                    span #{total < limit + offset ? total : limit + offset} de   
                    span #{total} Mesas

            div
                div
                    nav
                        - var n = 1;
                            while n <= paginas
                                a.numeroCantidad(href=`/mesa/ver-mesas?fecha=${fechas}&pagina=${n}`) #{n++}
    else
        h2.tituloCategoria No hay reservas