extends ../layout/opciones_usuario

block opciones_moderador
    h2.tituloCategoria= pagina
    div.opciones_menu
        a.btnOpcion(href="/menu/menu_crear" class="link") Agregar Producto
        form(action="/menu/buscador" method="POST" )
            input(type="hidden" name="_csrf" value= csrfToken)
            div.busqueda
                label.labelLogins(for="termino") Busqueda:
                input.inputLogins(type="text" id="termino" name="termino" placeholder="Buscar Producto")
                input.btnOpcion(type="submit" value="Buscar")
    form(action="/menu/gestionar_menu" method="GET")
        div.filtrosBusqueda
            div.filtroEstados
                label.labelLogins(for="filtro") Filtrar por Categoria:  
                select.inputReserva#filtro(name="filtro")
                    option(value="") - Sin Filtro -
                    each categoria in categorias
                        option(value=categoria.id)= categoria.nombre
            input.btnOpcion(type="submit" value= "Filtrar")
    
    if productos.length
        div

                each producto in productos
                    
                        div.contenedorGestionProducto
                            p.categoriaProducto= producto.categoria.nombre
                            div.gestionProductoTextos
                                p.tituloProducto= producto.titulo
                                p.descripcionProducto= producto.descripcion
                                p.precioProducto $ #{producto.precio} 
                            div
                                img.imgProducto(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt=`Imagen producto ${producto.titulo}`)
                                    
                            div.opcionesProducto
                                a.btnOpcion(href=`/menu/editar/${producto.id }`) Editar
                                form(method="POST" action=`/menu/eliminar/${producto.id}`)
                                    input(type="hidden" name="_csrf" value= csrfToken)
                                    input.btnOpcion(type="submit" value="Eliminar")                        
                            div.opcionesProducto
                                form(method="POST" action=`/menu/cambiarStock/${producto.id}`)
                                    input(type="hidden", name="_csrf" value= csrfToken)
                                    input.btnOpcion(type="submit", value= producto.stock ? "Deshabilitar" : "Habilitar")
    else
        p No hay Productos

