extends ../layout/opciones_usuario

block opciones_moderador
    p.tituloPaginas= pagina
    div.separacionCarrito
        p.tituloCarrito Total
        p.cantidadCarrito $0
    div.carrito
        div.cantidadNombreCarrito
            p.tituloCarrito Precio
            p.tituloCarrito Producto 
            p.tituloCarrito Borrar Producto
        div.productosTotalesAgregados
            
    form(id="pedidos" method="POST" action=`/reserva/reservar-comida/${Reserva.id}`) 
        input(type="hidden", name="_csrf" value= csrfToken)
        input(type="hidden", name="ProductosSelec", id="productos")
        input(type="hidden", name="totalProductos", id="total")
        button.btnOpcion(id="continuar" type="submit",) Continuar
    
    div

        div.tituloAcordeon
            p.tituloCategoriaReserva Entrada

        div.allProductos
            if productos.length
                each producto in productos

                        if producto.categoriaId == 1
                            div.contenedorReservaProducto
                                div(class=`productoTextos a${producto.id}`)
                                    p(class=`tituloProducto`) #{producto.titulo} 
                                    p.descripcionProducto #{producto.descripcion}
                                    p.precioProducto $#{producto.precio}
                                div
                                    img.imgProducto(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt="")
                                div
                                    input(type="button", value="Agregar" class=`agregar a${producto.id} btnOpcion`)    
            else             
                p No hay Producto

    div
        div 
            p.tituloCategoriaReserva Ensaladas
        div 
            if productos.length
                each producto in productos
                    if producto.categoriaId == 2
                        div.contenedorProducto
                            div.productoTextos
                                p.tituloProducto #{producto.titulo} 
                                p.descripcionProducto #{producto.descripcion}
                                p.precioProducto $#{producto.precio}
                            div
                                img(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt="")
                            div
                                button Agregar

    div
        div.boton
            p.tituloCategoriaReserva Platos Fuertes
        div 
            if productos.length
                each producto in productos
                    if producto.categoriaId == 3
                            div.contenedorProducto
                                div.productoTextos
                                    p.tituloProducto #{producto.titulo} 
                                    p.descripcionProducto #{producto.descripcion}
                                    p.precioProducto $#{producto.precio}
                                div
                                    img(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt="")
                                div
                                    button Agregar

    div
        div 
            p.tituloCategoriaReserva Postres
        div 
            if productos.length
                each producto in productos
                    if producto.categoriaId == 4
                        div.contenedorProducto
                            div.productoTextos
                                p.tituloProducto #{producto.titulo} 
                                p.descripcionProducto #{producto.descripcion}
                                p.precioProducto $#{producto.precio}
                            div
                                img(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt="")
                            div
                                button Agregar

    div
        div 
            p.tituloCategoriaReserva Bebidas
            
        div 
            if productos.length
                each producto in productos
                    if producto.categoriaId == 5
                        div.contenedorProducto
                            div.productoTextos
                                p.tituloProducto #{producto.titulo} 
                                p.descripcionProducto #{producto.descripcion}
                                p.precioProducto $#{producto.precio}
                            div
                                img(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt="")
                            div
                                button(onclick="agregarProducto()") Agregar


block scripts
    script(src="/js/agregarProducto.js")        