extends ../layout/opciones_usuario

block opciones_moderador
    p.tituloPaginas= pagina
    div.carrito
        div.cantidadNombreCarrito
            div.separacionCarrito
                p.tituloCarrito Carrito
                p.cantidadCarrito
            div.separacionCarrito
                p.tituloCarrito Producto
                p.nombreCarrito

        form(id="pedidos" method="POST" action=`/reserva/reservar-comida/${Reserva.id}`) 
            input(type="hidden", name="_csrf" value= csrfToken)
            input(type="hidden", name="stringproductosSelec" value=`${stringProductosSelec}`)
            button.btnOpcion(id="continuar" type="submit",) Continuar
    div 
        div 
            p.tituloCategoria Entrada
        div 
            if productos.length
                each producto in productos
                    if producto.categoriaId == 1
                        div.contenedorReservaProducto
                            div.productoTextos
                                p(class=`tituloProducto ${producto.id}`) #{producto.titulo} 
                                p.descripcionProducto #{producto.descripcion}
                                p.precioProducto $#{producto.precio}
                            div
                                img.imgProducto(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt="")
                            div
                                input(type="button", value="Agregar" class=`agregar ${producto.id} btnOpcion`)                
            else
                p No hay Producto
    div
        div 
            p.tituloCategoria Ensaladas
        div 
            if productos.length
                each producto in productos
                    if producto.categoriaId == 2
                        div.contenedorProducto
                            div.productoTextos
                                p.tituloProducto #{producto.titulo} 
                                p.descripcionProducto #{producto.descripcion}
                                p.precioProducto $#{producto.precio}
                            div
                                img(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt="")
                            div
                                button Agregar
            else
                p No hay Producto
    div
        div.boton
            p.tituloCategoria Platos Fuertes
        div 
            if productos.length
                each producto in productos
                    if producto.categoriaId == 3
                            div.contenedorProducto
                                div.productoTextos
                                    p.tituloProducto #{producto.titulo} 
                                    p.descripcionProducto #{producto.descripcion}
                                    p.precioProducto $#{producto.precio}
                                div
                                    img(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt="")
                                div
                                    button Agregar
            else
                p No hay Producto
    div
        div 
            p.tituloCategoria Postres
        div 
            if productos.length
                each producto in productos
                    if producto.categoriaId == 4
                        div.contenedorProducto
                            div.productoTextos
                                p.tituloProducto #{producto.titulo} 
                                p.descripcionProducto #{producto.descripcion}
                                p.precioProducto $#{producto.precio}
                            div
                                img(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt="")
                            div
                                button Agregar
            else
                p No hay Producto
    div
        div 
            p.tituloCategoria Bebidas
        div 
            if productos.length
                each producto in productos
                    if producto.categoriaId == 5
                        div.contenedorProducto
                            div.productoTextos
                                p.tituloProducto #{producto.titulo} 
                                p.descripcionProducto #{producto.descripcion}
                                p.precioProducto $#{producto.precio}
                            div
                                img(class="vistaImagen" src=`/uploads/${producto.imagen}`, alt="")
                            div
                                button(onclick="agregarProducto()") Agregar
            else
                p No hay Producto


block scripts
    script(src="/js/agregarProducto.js")        