extends ../layout/opciones_usuario

block opciones_moderador
    h2.tituloPaginas= pagina
    div.VerMasReserva
        div 
            p.datoReserva Fecha:  
                span.spanDatoReserva=`${datos.fecha}`
        div
            p.datoReserva Hora: 
                span.spanDatoReserva=`${datos.hora.hora}`
        div 
            p.datoReserva Personas: 
                span.spanDatoReserva= `${datos.personas}`
        div
            p.datoReserva Estado: 
                if datos.estado == null
                    span.spanDatoReserva En espera
                else
                    span.spanDatoReserva= `${datos.estado.estado}`
        div
            p.datoReserva Código: 
                if !datos.estado 
                    span.spanDatoReserva Sin Código
                else
                    span.spanDatoReserva= `${datos.codigo}`
        div
            p.datoReserva Mesa:
                span.spanDatoReserva= `${datos.mesaId}`


    div.centrarTexto
            a.btnVerMas(href=`/reserva/ver-reservas`) Volver
